<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title slot="end">
            <img src="assets/icon/logo_white.png" height="25">
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <h6 class="ss_title" style="text-transform: uppercase"><b>Two different plans</b></h6>

    <p class="ion-padding desc">You can choose from a range of saving option based on your requirements.</p>
    <div style="margin-top: 60px">
        <div class="plan" routerLink="/select-individual-plan">
            <h5>Individual Saving (A) Plan</h5>
        </div>
        <div class="plan" routerLink="/select-family-plan">
            <h5>Family & Friends Saving (S) Plan</h5>
        </div>
    </div>

</ion-content>