<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Late Payments
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="Latepayments.length > 0 && !isLoading">
    <ion-card *ngFor="let v of Latepayments">
        <ion-card-header class="ion-text-center">
            <h5 style="margin: 0px"><b>{{ v.created_on | date}}</b></h5>
        </ion-card-header>
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <h4>Group Name</h4>
                    </ion-col>
                    <ion-col>
                        <h4>{{ v.groupName }}</h4>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <h4>Amount</h4>
                    </ion-col>
                    <ion-col>
                        <h4>{{ v.plan_amount }} £</h4>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="6"></ion-col>
                    <ion-col size="6">
                        <ion-button *ngIf="v.id != null" (click)="payWithId(v.id,v.dueId)" color="primary" style="float: right" shape="round">Pay</ion-button>
                        <ion-button *ngIf="v.id == null" (click)="payWithoutId(v.user_selected_plan_id)" color="secondary" style="float: right" shape="round">Pay</ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>
</ion-content>

<ion-content *ngIf="Latepayments.length  < 1 && !isLoading">
    <div class="plan">
        <p>No Late Payment Yet</p>
    </div>
</ion-content>