<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button text="" defaultHref="/select-plan"></ion-back-button>
        </ion-buttons>
        <ion-title>Family & Friends Saving (S) Plan</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ss_title">
        <h4>Choose the Best tenure for your Savings Account Plan.</h4>
    </div>
    <div class="ss_dd">
        <div class="plan" routerLink="/create-fnf-plan">
            <h5>Create Family & Friends (S) Plan</h5>
        </div>
        <div class="plan" routerLink="/join-fnf-plan">
            <h5>Join Family & Friends (S) Plan</h5>
        </div>
    </div>

</ion-content>