<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Membership</ion-title>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/login"></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="common">
    <h4>ABOUT MEMBERSHIP</h4>
    <h6>WHO CAN JOIN ?</h6>
    <p>
      Alkebulan Savings Club (ASC) was founded by a passionate and an aspiring entrepreneur who have been seeking alternative ways to improve peoples financial lives. ASC presents an alternative saving scheme to that provided by the high street banks. Everyone stands to benefit by joining ASC.
    </p>

    <p><ion-icon name="checkmark"></ion-icon>Group of friends, family members, colleagues who want to do collective savings.</p><p><ion-icon name="checkmark"></ion-icon>Group of friends, family members, colleagues who want to do collective savings.</p><p><ion-icon name="checkmark"></ion-icon>Group of friends, family members, colleagues who want to do collective savings.</p>
    <p><ion-icon name="checkmark"></ion-icon>Group of friends, family members, colleagues who want to do collective savings.</p><p><ion-icon name="checkmark"></ion-icon>Group of friends, family members, colleagues who want to do collective savings.</p><p><ion-icon name="checkmark"></ion-icon>Anyone who want to save towards a special occasion or for that special buy.</p>
    <p><ion-icon name="checkmark"></ion-icon>Group of friends, family members, colleagues who want to do collective savings.</p><p><ion-icon name="checkmark"></ion-icon>Group of friends, family members, colleagues who want to do collective savings.</p><p><ion-icon name="checkmark"></ion-icon>Families with low income earnings who are not likely to get loans from the main stream banks.</p>
    <p><ion-icon name="checkmark"></ion-icon>Group of friends, family members, colleagues who want to do collective savings.</p><p><ion-icon name="checkmark"></ion-icon>Group of friends, family members, colleagues who want to do collective savings.</p><p><ion-icon name="checkmark"></ion-icon>Those who cannot afford the high interest charges by bank.</p>
    <p><ion-icon name="checkmark"></ion-icon>Group of friends, family members, colleagues who want to do collective savings.</p><p><ion-icon name="checkmark"></ion-icon>Group of friends, family members, colleagues who want to do collective savings.</p><p><ion-icon name="checkmark"></ion-icon>Those who just want to invest in their families future.</p>
  </div>

  <div class="common">
    <h4>JOIN NOW</h4>
    <h6><ion-icon name="checkmark"></ion-icon>Join the A-plan</h6>
    <p>
        ASC is an online secure and efficient way to save money for a target period. For few minutes 
        registration and a small one-off fee, the member would regularly deposit the agreed amount
         into their A-Plan account for the prescribed. Please note that this scheme is to empower customers
        to achieve an intended target 
        therefore savings ONLY become available for withdrawal once the target is attained
        <a routerLink="/register">Please click here to register</a>
    </p>
    <h6><ion-icon name="checkmark"></ion-icon>Join the S-plan</h6>
    <p>
        Our S-Plan is a reliable rotating savings plan mainly because you are working together with friends
         or family. Trustworthiness is key when saving and that is exactly what you get with the S-Plan. With 
         our S-plan, you are basically partnering with other trustworthy people known to you to form a group, 
         Individuals in the group save money together and take 
        turn to receive the total savings till each member gets its due. 
        <a routerLink="/register">Please click here to register</a>
    </p>
  </div>
</ion-content>
