.common{
  margin-bottom: 30px;
}
.common h4{
    color: #0b63fc;
    text-transform: uppercase;
}
.common h6{
    text-transform: capitalize;
}
.common p{
   text-align: justify;
   font-size: 13px;
   line-height: 1.2rem;
}

ion-title{
    text-transform: uppercase;
}
